@charset "UTF-8";
input, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; background-color: transparent; font-family: "微软雅黑"; }
input::-webkit-input-placeholder, select::-webkit-input-placeholder { color: #999; font-size: inherit; }
input:-moz-placeholder, select:-moz-placeholder { color: #999; font-size: inherit; }
input::-moz-placeholder, select::-moz-placeholder { color: #999; font-size: inherit; }
input:-ms-input-placeholder, select:-ms-input-placeholder { color: #999; font-size: inherit; }

input { text-indent: 1em; }

input[type="submit"] { text-indent: 0; cursor: pointer; border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

i, .cs-classroom li .txt { display: inline-block; *zoom: 1; *display: inline; }

.cs-classroom li .txt { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

i { vertical-align: middle; }

.space-between { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.space-around { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }

.cs-wrap { width: 10rem; margin: 0 auto; background-color: #00cafd; font-family: "Microsoft Yahei"; }

.cs-head { padding-top: 0.6rem; -webkit-box-sizing: border-box; box-sizing: border-box; height: 7.2666666667rem; background: url(../images/banner.png) no-repeat; background-size: 100% 100%; }
.cs-head .logo { width: 2.8rem; height: 0.72rem; margin-left: 0.5333333333rem; }
.cs-head .logo img { width: 100%; }

.cs-headline { font-weight: bold; color: #0a4a76; text-align: center; font-size: 0.56rem; }
.cs-headline .focus { line-height: 0.6666666667rem; background: url(../images/bg_2.png) bottom; background-repeat: repeat-x; background-size: auto 0.1866666667rem; }
.cs-headline em { color: #ff6000; font-weight: bold; }

.cs-subtitle { font-size: 0.4266666667rem; line-height: 0.9066666667rem; font-weight: bold; color: #0a4a76; text-align: center; }
.cs-subtitle.no-bold { font-weight: normal; }

.cs-classroom { margin: -1.2666666667rem 0.4rem 0; height: 9.0666666667rem; padding: 0.5333333333rem 0.48rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../images/bg_1.png) no-repeat; background-size: 100% 100%; }
.cs-classroom ul { padding-top: 0.5333333333rem; }
.cs-classroom li { height: 0.9733333333rem; background-image: -webkit-gradient(linear, left top, left bottom, from(#33e4ff), to(#00ccff)), -webkit-gradient(linear, left top, left bottom, from(#def8ff), to(#def8ff)); background-image: linear-gradient(180deg, #33e4ff 0%, #00ccff 100%), linear-gradient(#def8ff, #def8ff); background-blend-mode: normal, normal; -webkit-box-shadow: 0px 0.0666666667rem 0.2666666667rem 0px rgba(5, 206, 255, 0.3); box-shadow: 0px 0.0666666667rem 0.2666666667rem 0px rgba(5, 206, 255, 0.3); border-radius: 0.4933333333rem; font-weight: bold; padding-left: 1.24rem; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0.4rem; position: relative; }
.cs-classroom li .num { width: 1.0933333333rem; height: 1.0933333333rem; line-height: 1.0933333333rem; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff729), to(#ffe118)), -webkit-gradient(linear, left top, left bottom, from(#00ccff), to(#00ccff)); background-image: linear-gradient(180deg, #fff729 0%, #ffe118 100%), linear-gradient(#00ccff, #00ccff); background-blend-mode: normal, normal; border-radius: 50%; font-size: 0.5866666667rem; color: #03acd5; text-align: center; position: absolute; top: -0.0533333333rem; left: 0; }
.cs-classroom li .txt { width: 100%; font-size: 0.3466666667rem; line-height: 0.9733333333rem; color: #ffffff; }

.cs-btn { height: 1.1733333333rem; line-height: 1.1733333333rem; background-color: #0a4a76; border-radius: 0.08rem; color: #fff; font-size: 0.4266666667rem; }

.cs-places { padding-top: 0.5333333333rem; position: relative; }
.cs-places .cs-contact { width: 100%; height: 0.6666666667rem; background: url(../images/title.png) no-repeat top; background-size: auto 100%; position: absolute; top: 0; }
.cs-places .places-cont { margin: 0 0.4rem; padding: 0.6666666667rem 0.5333333333rem; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #ffffff; -webkit-box-shadow: 0px 0.1333333333rem 0.3333333333rem 0px rgba(39, 127, 149, 0.1); box-shadow: 0px 0.1333333333rem 0.3333333333rem 0px rgba(39, 127, 149, 0.1); border-radius: 0 0 0.2rem 0.2rem; border-radius: 0.2rem; }
.cs-places .sign-in { padding-top: 0.2666666667rem; }
.cs-places .sign-in input { width: 100%; height: 1.1733333333rem; line-height: 1.1733333333rem; font-size: 0.3733333333rem; background-color: #f7fdff; border-radius: 0.08rem; border: solid 1px #00ccff; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0.4rem; }
.cs-places .sign-in .cs-btn { font-size: 0.4266666667rem; background-color: #0a4a76; border: none; }

/*# sourceMappingURL=index.css.map */