input,
select {
  appearance: none;
  border: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  background-color: transparent;
  font-family: "微软雅黑";
}
input {
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
  border: none;
  appearance: none;
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}
i {
  @extend %in-b;
  vertical-align: middle;
}
$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，水平居中
.space-around {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cs-wrap {
  width: pr(750px);
  margin: 0 auto;
  background-color: #00cafd;
  font-family: "Microsoft Yahei";
}
.cs-head {
  padding-top: pr(45px);
  box-sizing: border-box;
  height: pr(545px);
  background: url(../images/banner.png) no-repeat;
  background-size: 100% 100%;
  .logo {
    width: pr(210px);
    height: pr(54px);
    margin-left: pr(40px);
    img {
      width: 100%;
    }
  }
}
.cs-headline {
  font-weight: bold;
  color: #0a4a76;
  text-align: center;
  font-size: pr(42px);
  .focus {
    line-height: pr(50px);
    background: url(../images/bg_2.png) bottom;
    background-repeat: repeat-x;
    background-size: auto pr(14px);
  }
  em {
    color: #ff6000;
    font-weight: bold;
  }
}
.cs-subtitle {
  font-size: pr(32px);
  line-height: pr(68px);
  font-weight: bold;
  color: #0a4a76;
  text-align: center;
  &.no-bold {
    font-weight: normal;
  }
}
.cs-classroom {
  margin: pr(-95px) pr(30px) 0;
  height: pr(680px);
  padding: pr(40px) pr(36px);
  box-sizing: border-box;
  background: url(../images/bg_1.png) no-repeat;
  background-size: 100% 100%;
  ul {
    padding-top: pr(40px);
  }
  li {
    height: pr(73px);
    background-image: linear-gradient(180deg, #33e4ff 0%, #00ccff 100%), linear-gradient(#def8ff, #def8ff);
    background-blend-mode: normal, normal;
    box-shadow: 0px pr(5px) pr(20px) 0px rgba(5, 206, 255, 0.3);
    border-radius: pr(37px);
    font-weight: bold;
    padding-left: pr(93px);
    box-sizing: border-box;
    margin-bottom: pr(30px);
    position: relative;
    .num {
      width: pr(82px);
      height: pr(82px);
      line-height: pr(82px);
      background-image: linear-gradient(180deg, #fff729 0%, #ffe118 100%), linear-gradient(#00ccff, #00ccff);
      background-blend-mode: normal, normal;
      border-radius: 50%;
      font-size: pr(44px);
      color: #03acd5;
      text-align: center;
      position: absolute;
      top: pr(-4px);
      left: 0;
    }
    .txt {
      @extend %in-b;
      width: 100%;
      font-size: pr(26px);
      line-height: pr(73px);
      color: #ffffff;
      @extend %one;
    }
  }
}
.cs-btn{
  height: pr(88px);
  line-height: pr(88px);
	background-color: #0a4a76;
  border-radius: pr(6px);
  color: #fff;
  font-size: pr(32px);
}
.cs-places {
  padding-top: pr(40px);
  position: relative;
  .cs-contact {
    width: 100%;
    height: pr(50px);
    background: url(../images/title.png) no-repeat top;
    background-size: auto 100%;
    position: absolute;
    top: 0;
  }
  .places-cont {
    margin: 0 pr(30px);
    padding: pr(50px) pr(40px);
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px pr(10px) pr(25px) 0px rgba(39, 127, 149, 0.1);
    border-radius: 0 0 pr(15px) pr(15px);
    border-radius: pr(15px);
  }
  .sign-in {
    padding-top: pr(20px);
    input {
      width: 100%;
      height: pr(88px);
      line-height: pr(88px);
      font-size: pr(28px);
      background-color: #f7fdff;
      border-radius: pr(6px);
      border: solid 1px #00ccff;
      box-sizing: border-box;
      margin-bottom: pr(30px);
    }
    .cs-btn{
      font-size: pr(32px);
      background-color: #0a4a76;
      border: none;
    }
  }
}
